
/*--------------------IE6 rules style--------------------------*/


body {
    font-size:13px;
}

/*----side bars-----*/

*html #sideBars {
margin-right:5px!important;
}

*+html #sideBars {
margin-right:5px!important;
}


#leftSidebar {
float:left;
margin:0 0 0 10px;
margin-bottom:-10px;
padding:0;
width:180px;
}

#rightSidebar {
float:left;
margin:0;
margin-bottom:-10px;
padding:0 0 0 20px;
width:180px;
}


/*----------search box----------*/

#searchBox {
height:25px;
position:relative;
left:746px;
white-space:nowrap;
margin:-40px 4px 0 0 ;
padding:0 0 16px;
width:190px;
}

div.admin .right {
float:right;
margin-right:0.5em;
width:46%;
}

