/*-----------Theme by Rishikesh   http://drupal.org/user/198692--------------------------*/
/*--------------------rishikesh579@gmail.com-------------------------------------------*/


body {
background:url('images/header-bg.png');
background-repeat:repeat-x;
color:#5a5a5a;
font-family:Arial,sans-serif;
font-size:small;
margin:0;
padding:0;
}

h1,h2,h3,h4,h5,h6 {
font-weight:normal;
margin:0;
padding:0;
}

h3,h4,h5,h6 {
color:#013466;
}

h3{
font-size: 150%;
}

h4 {
font-size: 130%;
}

h5 {
font-size: 120%;
}

h6 {
font-size: 110%;
}

ul, quote, code, fieldset {
margin: .5em 0;
}

p {
font-size:1.125em;
line-height:1.4em;
margin: 0.6em 0 1.2em;
padding: 0;
}

a {
color:#C0941D;
text-decoration:none;
}

a:hover {
color:#0B988E;
text-decoration:underline;
}

img, a img {
border: none;
}

span.form-required {
color: #ffae00;
}

span.submitted, .description {
font-size: 0.92em;
color: #898989;
}

input {
font: 12px/100% "Arial";
color: #494949;
}

textarea, select {
font: 12px/160% "Arial";
color: #494949;
}

/*-------------------site logo, site name, & site slogan--------------*/
.logo {
float:left;
padding:0 1em 0 0;
margin:0;
}

#header h1 {
color:#fff;
font-size:4em;
letter-spacing:2px;
line-height:2.0em;
margin:0;
padding:0;
text-transform:lowercase;
white-space:nowrap;
}

#header h1 a {
color:#fff;
text-decoration:none;
cursor:pointer;
}

#header h1 a:hover {
/*color:#C0941D;Color in option*/
color:orange;
cursor:pointer;
}

#header h2 {
color:#fff;
font-size:1.8em;
letter-spacing:2px;
margin:0;
padding:0.25em 0 0;
white-space:nowrap;
}

/*------------------------icons links style rules------------------------*/
.comment_comments a {
background:url('icons/comment.png') no-repeat 0 2px;
padding-bottom:5px;
padding-left:20px;
}

.taxonomy {
background:url('icons/tag_blue.png') no-repeat 0 6px;
}

.comment_add a,.comment_reply a {
background:url('icons/comment_add.png') no-repeat;
padding-bottom:5px;
padding-left:20px;
}

.comment_delete a {
background:url('icons/comment_delete.png') no-repeat;
padding-bottom:5px;
padding-left:20px;
}

.comment_edit a {
background:url('icons/comment_edit.png') no-repeat;
padding-bottom:5px;
padding-left:20px;
}

.node_read_more a {
background:url('icons/page_white_go.png') no-repeat;
padding-bottom:5px;
padding-left:20px;
}

.blog_usernames_blog a {
background:url('icons/user_comment.png') no-repeat;
padding-bottom:5px;
padding-left:20px;
}

.book_printer a {
background:url('icons/printer.png') no-repeat;
padding-bottom:5px;
padding-left:20px;
}

.book_add_child a {
background:url('icons/page_add.png') no-repeat;
padding-bottom:5px;
padding-left:20px;
}

/*-----------------------primary links---located in header-------------------*/
#menu {
color:#fff;
font-size:1.3em;
font-weight:normal;
height:20px;
line-height:1.9em;
letter-spacing:1px;
margin: 0;
padding:0;
white-space:nowrap;
background:url('images/menubg.gif');
height:34px;
margin-bottom:10px;
}

#menu ul {
float:left;
list-style:none;
list-style-image:none;
margin:0;
padding:0;
}

#menu li {
background-image:none;
display:inline;
margin:0;
 padding:0;
}

#menu li a {
border:medium none;
color:paleGoldenRod;
font-weight:bold;
padding:3px 10px;
text-decoration:none;
}

#menu li a:hover, #menu li a.active {
color:orange;
background:#006600;
}

/*------------------------------Container--------------------------*/
#container {
margin: 0 auto;
padding:0;
width:960px;
}

#topcontainer {
background: transparent url('images/container-top.gif') ;
background-repeat:no-repeat;
height:17px;
width:960px;
}

#containerbg {
margin: 0 auto;
padding:0;
width:960px;
background: transparent url('images/container-bg.gif') repeat-y scroll left top;
}

#containerend {
background: transparent url('images/container-bottom.gif') ;
height:17px;
width:960px;
display:block;
margin:auto;
margin-bottom:15px;
}

/*------------------------------mainContent-----------------------*/
#mainContent {
float:left;
margin:0;
overflow:hidden;
padding-left:30px;
}

#mainContent h2 {
border-bottom:1px solid #ccc;
color:#A31212;
font-size:2em;
font-weight:normal;
line-height:1.2em;
margin:0;
padding:0;
}

#mainContent h2 a {
color:#0B988E;
text-decoration:none;
display:block;
}

#mainContent h2 a:hover {
color:#A31212;
text-decoration:none;
}

#contenttop {
float:left;
}

/*----------------------------------sideBars-----------------------*/
#sideBars {
float:right;
display:block;
margin-right:10px;
margin-top:-10px;
}

#leftSidebar {
float:left;
margin:0 0 0 1.45em;
padding: 0;
width:180px;
}

#rightSidebar {
float:left;
margin:0;
padding:0 0 0 1.45em;
width:180px;
}

#sideBars h2 {
border-bottom:1px solid #A31212;
font-size:140%;
font-weight:normal;
line-height:1.3em;
margin:0.3em 0 0.55em;
padding:0;
background:url('images/sidebarh2.gif');
text-indent:15px;
color:beige;
}

#sideBars .block {
margin-bottom:20px;
}

#sideBars .block .content {
padding:0px 8px 5px 8px;;
color:wheat;
}

/*-------------------------- page styles-----------------------*/
.pageTitle {
font-size:2.0em;
line-height:1.2em;
margin-bottom:0.30em;
color:#0B988E;
}

.mission {
background-color:#F7F7F7;
border:1px solid #ccc;
color:#354A7B;
font-size:1em;
line-height:1.35em;
margin:0.32em 0 0.85em;
padding:1em;
}

.breadcrumb {
margin:0.32em 0;
padding:0;
}

.messages {
color:red;
margin:0.75em 0 0.75em;
padding:0.5em 1em;
}

.messages ul {
margin:0;
}

#footer .block, #header .block {
margin:0px;
padding:0px;
margin-left:20px;
margin-bottom:10px;
margin-top:15px;
}

#sideBars .block p, #sideBars .block p {
margin:0px;
padding:0px;
color:wheat;
} 

.block {
margin:0 0 0em;
padding:0;
}

/*----------------------------node styles---------------------*/
.node {
border-bottom:1px solid #ccc;
margin:0 0px 2.5em;
padding:0;
}

#sideBars li a:hover, #sideBars li a.active, #sideBars a:hover {
background-color:#A31212;
color:#FFFFFF;
}

#sideBars li a {
border-bottom:1px solid orange;
color:paleGoldenRod;
display:block;
font-size:12px;
padding:4px 0px 4px 5px;
text-decoration:none;
}

#sideBars a {
border-bottom:1px solid orange;
color:paleGoldenRod;
font-size:12px;
padding:4px 0px 4px 5px;
text-decoration:none;
}

#sideBars li {
margin:0px 5px 0px 0px;
padding:-10px 0px 0px 15px;
}

#sideBars ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0px;
padding:0px;
}

h3,h4,h5,h6,.nodeTitle a {
color:wheat;
}

.nodeTitle a:hover {
color:#3670A8;
text-decoration:none;
}

.taxonomy {
clear:left;
ont-size:0.95em;
padding:0 0 0.5em 1.5em;
}

.submitted {
font-size:0.95em;
padding:0;
}

#mainContent .content {
padding:0.2em 0 0;
}

.node .links {
font-size:1.05em;
padding:0.35em 0;
margin:0;
}

.picture {
float:right;
padding-left:1em;
}

.preview .node {
border:1px solid #ccc;
padding:0.75em;
}

/*--------------------comment styles---------------------*/
.commentTitle {
font-size:1.5em;
}

.comment {
background-color:#F7F7F7;
border:1px solid #ccc;
margin:0 0 2em;
padding:1em;
}

/*----------------------misc. styles-------------------------*/
hr {
margin:0;
padding:0;
border:none;
height:1px;
background:#5294c1;
}

dl {
margin:0.5em 0 1em 1.5em;
}

dl dd {
margin:0 0 .5em 1.5em;
}

dt {
font-size:1.285em;
margin:0.65em 0 0;
}

dl {
margin:0.5em 0 1em 1.5em;
}

dl dd {
margin:0 0 .5em 1.5em;
}

span.form-required {
color:#ffae00;
}

.description {
font-size:0.92em;
color:#5A5A5A;
margin-bottom:0.75em;
}

.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
margin:0.25em 0;
}

#center form {
margin-bottom:2em;
}

.form-button, .form-submit {
margin:0.5em 0.5em 1em 0;
}

#watchdog-form-overview .form-submit,
.confirmation .form-submit,
.search-form .form-submit,
.poll .form-submit,
fieldset .form-button, fieldset .form-submit,
.sidebar .form-button, .sidebar .form-submit,
table .form-button, table .form-submit {
margin: 0;
}

.box {
margin-bottom:2.5em;
}

div.admin {
margin:0;
padding:0;
}

blockquote {
margin:0;
padding:0 0 8px;
}

blockquote p {
background:url('images/close-quote.gif') no-repeat right bottom;
color:#30457E;
font-family:serif;
margin:10px 20px;
padding-left:18px;
text-indent:-18px;
width:400px;
}

blockquote p:first-letter {
background:url('images/open-quote.gif') no-repeat left top;
padding-left:18px;
}

.user-signature {
color:#949494;
font-family:Cursive, sans;
font-size:0.80em;
margin:0;
padding:0;
}

/*-----------------------Admin Styles rules-----------------------*/
div.admin-panel,
div.admin-panel .description,
div.admin-panel .body,
div.admin,
div.admin .left,
div.admin .right,
div.admin .expert-link,
div.item-list,
.menu {
margin: 0;
padding: 0;
}

div.admin .left {
float: left;
width: 48%;
}
div.admin .right {
float: right;
width: 48%;
}

div.admin-panel {
padding: 1em 1em 1.5em;
}

div.admin-panel .description {
margin-bottom: 1.5em;
}

div.admin-panel dl {
margin: 0;
}

div.admin-panel dd {
color: #898989;
font-size: 0.92em;
line-height: 1.3em;
margin-top: -.2em;
margin-bottom: .65em;
}


/*-------------------------list styles-----------------------*/
ul {
margin: 0.5em 0 1em;
padding: 0;
}

ol {
margin: 0.75em 0 1.25em;
padding: 0;
}

ol li, ul li {
margin: 0.4em 0 0.4em .5em;
}

ul.menu, .item-list ul {
line-height:1.2em;
margin: 0.35em 0 0 -0.5em;
padding: 0;
}

ul.menu ul, .item-list ul ul {
margin-left: 0em;
}

ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
margin: 0.15em 0 0.15em .5em;
}

ul li, ul.menu li, .item-list ul li, li.leaf {
padding: 0 0 .2em 1.5em;
list-style-type: none;
list-style-image: none;
background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em;
}

ol li {
padding: 0 0 .3em;
margin-left: 2em;
}

ul li.expanded {
background: transparent url(images/menu-expanded.gif) no-repeat 1px .35em;
}

ul li.collapsed {
background: transparent url(images/menu-collapsed.gif) no-repeat 0px .35em;
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
display: block;
}

ul.inline li {
background: none;
margin: 0;
padding: 0 1em 0 0; 
}

ol.task-list {
margin-left: 0; 
list-style-type: none;
list-style-image: none;
}

ol.task-list li {
padding: 0.5em 1em 0.5em 2em;
}

ol.task-list li.active {
background: transparent url(images/task-list.png) no-repeat 3px 50%;
}

ol.task-list li.done {
color: #393;
background: transparent url(../../misc/watchdog-ok.png) no-repeat 0px 50%;
}

ol.task-list li.active {
margin-right: 1em;
}

fieldset ul.clear-block li {
margin: 0;
padding: 0;
background-image: none;
}

ul.primary, ul.primary li, ul.secondary {
border-bottom:1px solid #BBBBBB;
background: none;
height:auto;
margin:5px;
padding:0 ;
}

ul.secondary li {
background: none;
border-right:1px solid #CCCCCC;
display:inline;
padding:0 1em;
}

ul.links li {
background:none;
list-style:none;
margin:0 1em 0 0;
padding:0;
}

/*---------------user-login-form---let's get rid of the center alignment---------------*/
#user-login-form {
margin:0;
padding:0 0 0 10px;
text-align:left;
}

.form-item {
text-align:left;
margin:0;
padding:0;
}

/*---------------TinyMCE editor---------------*/
body.mceContentBody {
background:#fff;
color:#000;
font-size:14px;
}

body.mceContentBody a:link {
color:#ff0000;
}


/*---------------table styles---------------*/
table {
margin: 1em 0;
width: 100%;
}

thead th {
border-bottom: 2px solid #bbb;
color: #494949;
font-weight: bold;
}

thead div.sticky-header {
border-bottom: 2px solid #ddd;
}

td, th {
padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
border: solid #D5D6D7;
border-width: 1px 0;
}

tr.odd, tr.info {
background-color: #EEEEEE;
}

tr.even {
background-color: #fff;
}

tr.drag {
background-color: #fffff0;
}

tr.drag-previous {
background-color: #ffd;
}

tr.odd td.active {
background-color: #D3DAE9;
}

tr.even td.active {
background-color: #E6EAF7;
}

td.region, td.module, td.container, td.category {
border-top: 1.5em solid #fff;
border-bottom: 1px solid #B9C2DC;
background-color: #D0D5E0;
color: #455067;
font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container, tr:first-child td.category {
border-top-width: 0;
}

table.system-status-report th {
border-color: #d3e7f4;
}

#autocomplete li.selected, tr.selected td, tr.selected td.active {
background: #027ac6;
color: #fff;
}

tr.selected td a:link, tr.selected td a:visited, tr.selected td a:active {
color: #d3e7f4;
}s

tr.taxonomy-term-preview {
opacity: 0.5;
}

tr.taxonomy-term-divider-top {
border-bottom: none;
}

tr.taxonomy-term-divider-bottom {
border-top: 1px dotted #CCC;
}

/*-------------------- Watchdog.module colors change if needed-------------------- */
tr.watchdog-user {
background-color: #fcf9e5;
}

tr.watchdog-user td.active {
 background-color: #fbf5cf;
}

tr.watchdog-content {
background-color: #fefefe;
}

tr.watchdog-content td.active {
background-color: #f5f5f5;
}

tr.watchdog-warning {
background-color: #fdf5e6;
}

tr.watchdog-warning td.active {
background-color: #fdf2de;
}

tr.watchdog-error {
background-color: #fbe4e4;
}

tr.watchdog-error td.active {
background-color: #fbdbdb;
}

tr.watchdog-page-not-found, tr.watchdog-access-denied {
background: #d7ffd7;
}

tr.watchdog-page-not-found td.active, tr.watchdog-access-denied td.active {
background: #c7eec7;
}

/*--------------------- Status report colors change if needed------------------------*/
table.system-status-report tr.error, table.system-status-report tr.error th {
background-color: #fcc;
border-color: #ebb;
color: #200;
}
table.sy
stem-status-report tr.warning, table.system-status-report tr.warning th {
background-color: #ffd;
border-color: #eeb;
}

table.system-status-report tr.ok, table.system-status-report tr.ok th {
background-color: #dfd;
border-color: #beb;
}

/*-------------------------fix-----------------------*/
#fixwidth {
clear:both;
padding-top:1em;
text-align:center;
text-transform:lowercase;
width:950px;
}

/*----------------------------footer-------------------------*/
#footer {
clear:both;
}

/*---------------------copyright-------------------*/
#copyright {
text-align:center;
background:transparent url(images/copyright-bg.gif) repeat scroll 0%;
height:34px;
color:#FFFFFF;
font-size:16px;
line-height:32px;
font-style:normal;
border-bottom:10px solid #A31212;
}

#copyright a {
color:orange;
}

#copyright a:hover {
color:#A31212;
}